[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
requests = "*"
pymoviedb = "*"
django-on-heroku = "*"
typing-extensions = "==4.0.1"
whitenoise = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "*"
