{% extends "index.html" %}
{% load static %}
{% block content %}
<section class="w3l-grids">
    <div class="grids-main py-4">
        <div class="container py-lg-4">
            <div style="width: 200px;">
                <img class="img-fluid float-left" src="{{ image }}" alt="">
                
            </div>
            <div class="movie-details">
                <h1>Film complet {{ details.title }} streaming</h1>
                <p><strong>Acteur:</strong> {% for actor in details.actors  %}{{ actor.name }},{% endfor %}</p>
                <p><strong>Réalisateur:</strong> {% for director in details.directors  %}{{ director.name }},{% endfor %}</p>
                <p><strong>Année:</strong> {{ details.year }}</p>
                <p><strong>Genre:</strong> {{ details.genre }}</p>
                <p><strong>Synopsis:</strong> {{ details.description }}</p>
                <div class="movie-ratings">
                  <span>IMDb {{ details.imdb_rating }}⭐</span>
                </div>
            </div>
            <div class="row">
                {% if lang == 'ch' %}
                {% if fr_lang %}
                    <div class="col-sm-3 pb-2">
                        <a
                        class="btn btn-primary btn-block"
                        href="https://frembed.fun/api/film.php?id={{details.id}}"
                        target="_blank"
                        >French</a
                        >
                    </div>
                {% endif %}
                {% if eng_lang %}
                <div class="col-sm-3 pb-2">
                    <a
                    class="btn btn-primary btn-block"
                    href="https://vidsrc.xyz/embed/movie/{{details.id}}"
                    target="_blank"
                    >English</a
                    >
                </div>
                {% endif %}
                {% endif %}
            </div>   
        </div>
    </div>
</section>
{% endblock content %}
        